/* "The font that’s being used in the images is roboto." */
* {
    font-family: 'Roboto';
}

/* Dark background color (hero and footer) */
.hero,
footer {
    background-color: #1f2937;
}

/* Hero main text ("this website is awesome") */
.main {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

/* Hero secondary text, header link text */
.secondarytext,
.links {
    font-size: 18px;
    color: #e5e7eb;
}

/* Header logo text */
.logo {
    font-size: 24px; 
    color: #f9faf8;
}

/* Button color, call to action background color #3882f6 */
.calltoactionbox,
.herobutton,
.calltoactionbutton {
    background-color: #3882f6;
}

/* Information header text */
.infotext {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

/* Quote section background color */
.quotetainer {
    background-color: #e5e7eb;
}

/* Quote text ~ Italic on HTML (em)*/
.quote > p {
    font-size: 36px;
    color: #1f2937;
}

/* -------------------------------------------------*/
/* My CSS Goes Here */

body {
    margin: 0;
}

.hero {
    height: 500px;
    padding: 30px 360px 30px;
}

.links {
    display: flex;
    justify-content: space-evenly;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 90px;
    gap: 50px;
}

.logo {
    flex-grow: 1;
    font-weight: bolder;
}

.boxes {
    display: flex;
    flex-direction: row;
    height: 250px;
}

.main {
    padding: 0;
    margin-bottom: 0;
    margin-top: 0;
}

.secondarytext {
    margin-top: 1px;
    padding-right: 0;
    padding-bottom: 5px;
}

.herobutton {
    border-color: #3882f6;;
}

.papanbaby {
    width: 600px;
    height: 100%;
}

.boxes > .left > .main {
    margin-right: 190px;
}

.left {
    margin-right: 75px;
}

.infotext {
    text-align: center;
    margin: 30px;
    font-size: 36px;
    font-weight: 900;
}

.infotextcontent {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-bottom: 100px;
}

.babyboy {
    width: 190px;
    height: 190px;
    border-radius: 10%;
}

.text {
    max-width: 190px;
    text-align: center;
    margin-left: 0%;
}

.quote {
    padding-left: 445px;
    padding-right: 450px;
    padding-top: 70px;
    height: 300px;
}

.quotetainer > .quote > h3 {
    display: flex;
    justify-content: flex-end;
    margin-top: 0%;
}

.quotetainer > .quote > p {
    margin-bottom: 0%;
}

.calltoaction {
    margin: 60px;
}

.calltoactionbox {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 55px;
    margin-left: 285px;
    margin-right: 275px;
    border-radius: 10px;
    color: #f9faf8;
    gap: 330px;
}

.calltoactiontime,
.calltoactionsignup {
    margin: 0%;
    border: 0;
}

.calltoactionright {
    padding-top: 5px;
}

.calltoactionsignup {
    color: #f9faf8;
}

.calltoactionbutton {
    border-color: #f9faf8;
} 

footer {
    padding: 10px;
    text-align: center;
    color: #f9faf8;
    font-size: large;
}

button {
    border-radius: 7px;
    color:  #e5e7eb;
    font-size: large;
    width: 150px;
    height: 50px;
}

.wrap {
    position: relative;
}